/build/
/KhanzaAntrianLoket2/build/
/KhanzaAntrianLoket2/nbproject/private/
/KhanzaCetakAntrianLoket/build/
/KhanzaCetakAntrianLoket/nbproject/private/
/KhanzaHMSResume/dist/
/KhanzaHMSResume/build/
/KhanzaHMSAnjunganFingerPrint/build/
/KhanzaHMSAnjunganFingerPrint/dist/
/KhanzaHMSAutoVerify/build/
/KhanzaHMSAutoVerify/dist/
/KhanzaHMSAutoVerify2/dist/
/KhanzaHMSAutoVerify2/build/
/KhanzaHMSAnjungan/dist/
/KhanzaHMSAnjungan/build/
/KhanzaAntrianLoket/nbproject/private/
/dist/
